body {
    text-align: center;
    padding-bottom: 30px;
    background-color: rgb(22, 22, 22);
    color: rgb(0, 110, 0);
    font-weight: bold;
    font-family: sans-serif;
    overflow:hidden;
}
#many {
    background-color: green;
    border: 1px solid black;
    color: black;
    padding: 5px ;
    width: 50px;
    font-weight: bold;
}
#start-btn {
    background-color: rgb(30, 82, 0);
    padding: 10px;
    border: none;
    font-size: large;
    border-radius: 4px;
    transition: 0.15s;
}
#start-btn:hover {
    background-color: rgb(0, 43, 4);
}
#start-btn:active {
    color: rgb(8, 68, 0);
    background-color: black;
}
#out-pass {
    border: 3px double rgb(0, 43, 4);
    padding: 5px;
    word-wrap: break-word;
    max-width: 70%;
}
.contact {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: green;
    height: 50px;
    padding-top: 20px;
    color: black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-decoration: none;
    transition: 1s;
}
.contact:hover {
    color: green;
    background-color: black;
}
.note {
    color: rgb(12, 80, 12);
    font-size: medium;
}
.input-num {
    border: 1px solid green;
    display: inline-block;
    padding: 10px 10px 15px 10px;
}
